server/myenv/
.env
.vscode/
server/issues.txt
server/django_app/out/
render.yaml

*.pyc
*~
/static/
/media/
.DS_Store

server/django_app/django_app/__pycache__
server/django_app/centralized_API_backend/__pycache__
server/django_app/db.sqlite3
server/django_app/centralized_API_backend/migrations/

frontend/reading-database-frontend/src/assets/

server/out
frontend/assets/