server/myenv/
.env
.vscode/
server/issues.txt
server/django_app/out/
render.yaml
.env.production
.firebase/
firebase-debug.log
firebase-debug.*.log
haneuL_database.sql
haneuL_database.*.sql
postgres.sql
postgres.*.sql

*.pyc
*~
/static/
/media/
.DS_Store

server/django_app/django_app/__pycache__
server/django_app/centralized_API_backend/__pycache__
server/django_app/db.sqlite3
server/django_app/centralized_API_backend/migrations/

# frontend/reading-database-frontend/src/assets/

server/out
frontend/assets/