.pre-release {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h1 {
      color: #333333;
      font-size: 2em;
      text-align: center;
      margin-bottom: 20px;
    }
  
    p {
      color: #666666;
      line-height: 1.6;
      margin-bottom: 20px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  